In [6]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("locations.csv")

In [4]:
df.head()

       studyId            city          state        country   startDate
0  NCT03875625       Hong Kong         Shatin      Hong Kong  2019-04-01
1  NCT03902925  Ribeirao Preto             SP         Brazil  2019-01-01
2  NCT04679025         Calgary        Alberta         Canada  2019-04-01
3  NCT03758430          Boston  Massachusetts  United States  2019-02-06
4  NCT04136730     Kuwait City            NaN         Kuwait  2019-08-01

In [8]:
df.describe().T

          count unique            top freq
studyId      11     10    NCT03970720    2
city         11     11      Hong Kong    1
state         9      8     California    2
country      11      6  United States    6
startDate    11      9     2019-04-01    2